._hm-header {
  height: 55px;
  width: 100%;
  background: linear-gradient(#8B0000, #292121);
  .header_hm-780 {
    margin: 0 auto;
    height: 50px;
    float: none;
    ._hm-user-plus-btn {
      color: #d6dce3;
      font-size: 24px;
      margin: 18px 0 0 0;
    }
    ._hm-user-dim {
      color: #d6dce3;
      font-size: 20px;
      position: relative;
    }
    ._hm-user-email-btn {
      margin: 18px 0 0 15px;
    }
    ._hm-user-flag {
      margin: 20px 10px 0 30px;
      img {
          border: 1px solid #d6dce3;
      }
    }
    ._hm-user-question {
      margin: 20px 35px 0 10px;
    }
    ._hm-user-settings {
      margin: 20px 0 0 0;
    }
    ._hm-user-avatar {
      margin: 20px 10px 0 0;
    }
    ._hm-user-typeahead {
      width: 60%;
      position: relative;
      ._hm-search-978 {
        position: absolute;
        right: -23%;
        top: 18px;
        color: #71767d;
      }
      ._hm-typeahead-856 {
        width: 100%;
        height: 27px;
        margin: 13px 0 0 25%;
      }
    }
    ._vw-hm-logo {
      margin-top: 20px;
      color: white;
      font-weight: bold;
    }
  }
}
._hm-nav {
  height: 30px;
  width: 100%;
  background: black;
  ._hm-navbar-list {
    margin: 0 auto;
    color: white;
    float: none;
    padding: 8px 15px;
    font-size: 13px;
    .list-inline > li {
      margin-right: 30px;
    }
  }
}
._hm-add-user-overflow {
  position: absolute;
  display: none;
  top: 27px;
  width: 370px;
  height: 345px;
  right: -174px;
  z-index: 1000;
  padding: 3px;
  ._hm-add-inner-overflow {
    background-color: white;
    height: 98%;
    width: 364px;
    position: absolute;
    z-index: 2;
    border: 1px solid #3f3f3f;
    color: #333;
    font-size: 13px;
    box-shadow: #292121 0px 0px 5px;
    ._hm-add-948 {
      height: 30px;
      background-color: #333;
      padding: 8px 10px;
      color: rgb(214, 220, 227);
    }
    ._hm-add-req-947 {
      border-bottom: 1px solid #ccc;
      height: 30px;
      padding: 7px 10px;
    }
    ._hm-add-req-940 {
      color: #0066ff;
      height: 30px;
      padding: 7px 10px;
      text-decoration: underline;
    }
    ._hm-add-cpd-810 {
      border-bottom: 1px solid #ccc;
      ._hm-add-contact-802 {
        font-size: 20px;
        margin: 15px;
      }
      ._hm-add-tnt-810 {
        margin-top: 10px;
        ._hm-add-945 {
          color: #c1c4cc;;
        }
      }
      ._hm-add-tnt-811 {
        margin: 5px;
      }
    }
  }
}
._hm-arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: -5px;
  left: 46.5%;
  z-index: 3;
}
._hm-email_arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: -5px;
  left: 47%;
  z-index: 3;
}
._hm-lang_arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: -5px;
  left: 51.5%;
  z-index: 3;
}
._hm-question_arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: -5px;
  left: 71%;
  z-index: 3;
}
._hm-bars_arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: -5px;
  left: 85.1%;
  z-index: 3;
}
._hm-email-user-overflow {
  position: absolute;
  top: 27px;
  display: none;
  width: 370px;
  height: 444px;
  right: -176px;
  z-index: 1000;
  padding: 3px;
  ._hm-email-inner-overflow {
    background-color: white;
    height: 98%;
    width: 364px;
    position: absolute;
    border: 1px solid #3f3f3f;
    box-shadow: #292121 0px 0px 5px;
    z-index: 2;
    ._hm-email-body-729 {
      ._hm-email-cpd-811 {
        color: #333;
        font-size: 12px;
        padding: 0 10px 10px 10px;
        border-bottom: 1px solid #ccc;
      }
      ._hm-email-cpd-810 {
        ._hm-email-tnt-810 {
          color: #333;
          font-size: 13px;
          margin-top: 10px;
          ._hm-email-945 {
              color: #c1c4cc;
          }
        }
        ._hm-email-tnt-811 {
          margin: 5px;
        }
      }
    }
    ._hm-email-count-296 {
      color: #333;
      font-size: 13px;
      padding: 10px;
    }
    ._hm-email-ppl-496 {
      padding-bottom: 5px;
      ._hm-email-ul-941 {
         margin: 0 10px;
         ._hm-email-container-402 {
            padding: 0 2px;
         }
         li {
            display: inline-block;
         }
      }
    }
    ._hm-email-header-745 {
      height: 30px;
      background-color: #333;
      font-size: 13px;
      padding: 8px 10px;
    }
  }
}
._hm-lang-user-overflow {
  position: absolute;
  display: none;
  top: 27px;
  width: 306px;
  height: 140px;
  right: -126px;
  z-index: 1000;
  padding: 3px;
  ._hm-lang-inner-overflow {
    background-color: white;
    height: 98%;
    width: 300px;
    position: absolute;
    border: 1px solid #3f3f3f;
    box-shadow: #292121 0px 0px 5px;
    z-index: 2;
    color: #333;
    ._hm-lang-selector-944 {
      font-size: 15px;
      color: #0066ff;
      padding: 10px 10px 10px 20px;
    }
    ._hm-lang-container-ul {
      margin: 5px 0 0 20px;
      ._hm-lang-flag-828 {
          padding-top: 3px;
          margin-right: 5px;
      }
      li {
        line-height: 25px;
        font-size: 12px;
      }
    }
  }
}
._hm-question-user-overflow {
  position: absolute;
  display: none;
  top: 27px;
  width: 370px;
  height: 300px;
  right: -89px;
  z-index: 1000;
  padding: 3px;
  ._hm-question-inner-overflow {
    background-color: white;
    height: 98%;
    width: 364px;
    position: absolute;
    border: 1px solid #3f3f3f;
    box-shadow: #292121 0px 0px 5px;
    z-index: 2;
  }
}
._hm-bars-user-overflow {
  position: absolute;
  display: none;
  top: 27px;
  width: 226px;
  height: 219px;
  right: -7px;
  z-index: 1000;
  padding: 3px;
  ._hm-bars-inner-overflow {
    background-color: white;
    height: 98%;
    width: 220px;
    position: absolute;
    border: 1px solid #3f3f3f;
    box-shadow: #292121 0px 0px 5px;
    z-index: 2;
    ._hm-bars-301 {
      font-size: 13px;
      color: #333;
    }
    ._hm-bars-301 li i {
      margin-right: 10px;
    }
    ._hm-bars-301 li:hover {
        background-color: #f2f2f2;
    }
    ._hm-bars-301 li {
      line-height: 30px;
      padding-left: 10px;
    }
    ._hm-bars-li-1304 {
        border-bottom: 1px solid #ccc;
    }
  }
}
._hm-search-user-overflow {
  position: absolute;
  display: none;
  top: 38px;
  width: 100%;
  height: 480px;
  right: -24.2%;
  z-index: 1000;
  padding: 3px;
  ._hm-search-inner-overflow {
    background-color: white;
    height: 98%;
    width: 100%;
    position: absolute;
    border-left: 1px solid #3f3f3f;
    border-right: 1px solid #3f3f3f;
    border-bottom: 1px solid #3f3f3f;
    border-radius: 4px;
    z-index: 2;
    box-shadow: #292121 0px 0px 5px;
    ._hm-recent-search-890 {
      height: 25px;
      background-color: #ccccff;
      padding: 5px;
      font-size: 13px;
      ._hm-ftsize11 {
        font-size: 11px;
      }
      ._hm-search-clear-435 {
          margin-left: 2px;
          font-size: 11px;
      }
    }
    ._hm-search-list {
      height: 367px;
      ._ul-search-976 {
        ._hm-search-container:hover {
            background-color: #f2f2f2;
          }
        ._hm-search-container {
          margin: 5px 0 0 5px;
          ._hm-search-652 {
            width: 79%;
            margin-left: 7px;
            font-size: 12px;
            ._hm-search-860 {
              margin-top: 5px;
            }
            ._hm-search-676 {
              ._hm-search-560 {
                margin: 0 5px 0 5px;
              }
              font-size: 11px;
              margin-top: 3px;
            }
          }
        }
      }
    }
  }
}
._margin-right5 {
  margin-right: 5px;
}

