._hm-header {
  height: 55px;
  width: 100%;
  background: linear-gradient(#8B0000, #292121);
  .header_hm-780 {
    margin: 0 auto;
    height: 50px;
    float: none;
    ._hm-user-plus-btn {
      color: #d6dce3;
      font-size: 24px;
      margin: 18px 0 0 0;
    }
    ._hm-user-dim {
      color: #d6dce3;
      font-size: 20px;
      position: relative;
    }
    ._hm-user-email-btn {
      margin: 18px 0 0 15px;
    }
    ._hm-user-flag {
      margin: 20px 10px 0 30px;
      img {
          border: 1px solid #d6dce3;
      }
    }
    ._hm-user-question {
      margin: 20px 35px 0 10px;
    }
    ._hm-user-settings {
      margin: 20px 0 0 0;
    }
    ._hm-user-avatar {
      margin: 20px 10px 0 0;
    }
    ._hm-user-typeahead {
      width: 60%;
      position: relative;
      ._hm-search-978 {
        position: absolute;
        right: -23%;
        top: 18px;
        color: #71767d;
      }
      ._hm-typeahead-856 {
        width: 100%;
        height: 27px;
        margin: 13px 0 0 25%;
      }
    }
    ._vw-hm-logo {
      margin-top: 20px;
      color: white;
      font-weight: bold;
    }
  }
}
._hm-nav {
  height: 30px;
  width: 100%;
  background: black;
  ._hm-navbar-list {
    margin: 0 auto;
    color: white;
    float: none;
    padding: 8px 15px;
    font-size: 13px;
    a {
      color: #fff;
      text-decoration: none;
    }
    ._hm-nav-relative {
      position: relative;
    }
    ._hm-nav_arrow-profile, ._hm-nav_arrow-contacts, ._hm-nav_arrow-home {
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #e0e0e0;
      position: absolute;
      top: 16px;
      z-index: 3;
    }
    ._hm-nav_arrow-profile {
      left: 37%;
    }
    ._hm-nav_arrow-contacts {
      left: 43%;
    }
    ._hm-nav_arrow-home {
      left: 35%;
    }
    .list-inline > li {
      margin-right: 30px;
    }
  }
}
._hm-add-user-overflow {
  position: absolute;
  display: none;
  top: 27px;
  width: 370px;
  height: 345px;
  right: -174px;
  z-index: 1000;
  padding: 3px;
  ._hm-add-inner-overflow {
    background-color: white;
    height: 98%;
    width: 364px;
    position: absolute;
    z-index: 2;
    border: 1px solid #3f3f3f;
    color: #333;
    font-size: 13px;
    box-shadow: #292121 0px 0px 5px;
    ._hm-add-948 {
      height: 30px;
      border-bottom: 1px solid #ccc;
      padding: 8px 10px;
      color: #333;
    }
    ._hm-add-req-947 {
      border-bottom: 1px solid #ccc;
      height: 30px;
      padding: 7px 10px;
    }
    ._hm-add-req-940 {
      color: #333;
      height: 30px;
      padding: 7px 10px;
      text-decoration: none;
    }
    ._hm-add-req-940:hover {
      color: #0066ff;
    }
    ._hm-add-cpd-810 {
      border-bottom: 1px solid #ccc;
      ._hm-add-contact-802 {
        font-size: 20px;
        margin: 15px;
      }
      ._hm-add-tnt-810 {
        margin-top: 10px;
        ._hm-add-945 {
          color: #c1c4cc;;
        }
      }
      ._hm-add-tnt-811 {
        margin: 5px;
      }
    }
  }
}
._hm-arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: -5px;
  left: 46.5%;
  z-index: 3;
}
._hm-email_arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: -5px;
  left: 47%;
  z-index: 3;
}
._hm-lang_arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: -5px;
  left: 51.5%;
  z-index: 3;
}
._hm-question_arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: -5px;
  left: 46%;
  z-index: 3;
}
._hm-bars_arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: -5px;
  left: 85.1%;
  z-index: 3;
}
._hm-email-user-overflow {
  position: absolute;
  top: 38px;
  display: none;
  width: 370px;
  height: 517px;
  right: -155px;
  z-index: 1000;
  padding: 3px;
  ._hm-email-inner-overflow {
    background-color: white;
    height: 98%;
    width: 364px;
    position: absolute;
    border: 1px solid #3f3f3f;
    box-shadow: #292121 0px 0px 5px;
    z-index: 2;
    ._hm-email-body-729 {
      ul {
        list-style-type: none;
        padding: 0px;
      }
      ._hm-email-cpd-811 {
        color: #333;
        font-size: 12px;
        padding: 0 10px 10px 10px;
        border-bottom: 1px solid #ccc;
      }
      ._hm-email-cpd-810 {
        ._hm-email-tnt-810 {
          color: #333;
          font-size: 13px;
          margin-top: 10px;
          ._hm-email-945 {
              color: #c1c4cc;
          }
        }
        ._hm-email-tnt-811 {
          margin: 5px;
        }
      }
    }
    ._hm-email-count-296 {
      color: #333;
      font-size: 13px;
      padding: 10px;
    }
    ._hm-email-ppl-496 {
      padding-bottom: 5px;
      ._hm-email-ul-941 {
         margin: 0 10px;
        padding: 0px;
         ._hm-email-container-402 {
            padding: 0 2px;
         }
         li {
            display: inline-block;
         }
      }
    }
    ._hm-email-header-745 {
      height: 30px;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      color: #333;
      font-size: 13px;
      padding: 8px 10px;
    }
  }
}
._hm-lang-user-overflow {
  position: absolute;
  display: none;
  top: 27px;
  width: 306px;
  height: 140px;
  right: -126px;
  z-index: 1000;
  padding: 3px;
  ._hm-lang-inner-overflow {
    background-color: white;
    height: 98%;
    width: 300px;
    position: absolute;
    border: 1px solid #3f3f3f;
    box-shadow: #292121 0px 0px 5px;
    z-index: 2;
    color: #333;
    ._hm-lang-selector-944 {
      font-size: 15px;
      color: #333;
      padding: 10px 10px 10px 20px;
    }
    ._hm-lang-container-ul {
      margin: 5px 0 0 20px;
      ._hm-lang-flag-828 {
          padding-top: 3px;
          margin-right: 5px;
      }
      li {
        line-height: 25px;
        font-size: 12px;
      }
    }
  }
}
._hm-question-user-overflow {
  position: absolute;
  display: none;
  top: 27px;
  width: 200px;
  height: 63px;
  right: -89px;
  z-index: 1000;
  padding: 3px;
  ._hm-question-inner-overflow {
    background-color: white;
    height: 98%;
    width: 194px;
    position: absolute;
    border: 1px solid #3f3f3f;
    box-shadow: #292121 0px 0px 5px;
    z-index: 2;
    ._hm-bars-301 {
      font-size: 13px;
      color: #333;
    }
    ._hm-bars-301 li i {
      margin-right: 10px;
    }
    ._hm-bars-301 li:hover {
        background-color: #f2f2f2;
    }
    ._hm-bars-301 li {
      line-height: 30px;
      padding-left: 10px;
    }
  }
}
._hm-bars-user-overflow {
  position: absolute;
  display: none;
  top: 27px;
  width: 226px;
  height: 219px;
  right: -7px;
  z-index: 1000;
  padding: 3px;
  ._hm-bars-inner-overflow {
    background-color: white;
    height: 98%;
    width: 220px;
    position: absolute;
    border: 1px solid #3f3f3f;
    box-shadow: #292121 0px 0px 5px;
    z-index: 2;
    ._hm-bars-301 {
      font-size: 13px;
      color: #333;
    }
    ._hm-bars-301 li i {
      margin-right: 10px;
    }
    ._hm-bars-301 li:hover {
        background-color: #f2f2f2;
    }
    ._hm-bars-301 li {
      line-height: 30px;
      padding-left: 10px;
    }
    ._hm-bars-li-1304 {
        border-bottom: 1px solid #ccc;
    }
  }
}
._hm-container {
  background: #e0e0e0;
  ._hm-container-780 {
    margin: 0 auto;
    float: none;
    ._hm-profile-interest-845 {
      padding: 20px 0 25px 20px;
      width: 98%;
      text-align: justify;
      font-size: 12px;
      line-height: 17px;
      ._hm-profile-txt-419 {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
      }
    }
    ._hm-profile-interest-849 {
      padding: 20px 0 25px 20px;
      width: 100%;
      ._hm-profile-contacts-901 {
        ._hm-profile-contacts-98 {
          width: 33%;
        }
        ._hm-profile-contacts-108 {
          width: 100%;
          margin: 10px;
        }
        ._hm-profile-contacts-101 {
          width: 110px;
          height: 110px;
          border: 1px solid #d6dce3;
          padding: 4px 4px;
        }
        ._hm-profile-contacts-102 {
          width: 52%;
          height: 110px;
          border-right: 1px solid #d6dce3;
          border-top: 1px solid #d6dce3;
          border-bottom: 1px solid #d6dce3;
          padding: 0 10px;
          ._hm-profile-contacts-204 {
            margin-top: 20px;
            font-size: 14px;
          }
          ._hm-profile-contacts-207 {
            margin-top: 5px;
            font-size: 12px;
            color: #71767d;
          }
          ._hm-profile-contacts-209 {
            font-size: 12px;
            margin-top: 15px;
            color: #71767d;
          }
        }
      }
      ._hm-profile-ctc-419 {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
      }
    }
    ._hm-profile-interest-847 {
      padding: 25px 20px 0 0;
      color: #71767d;
      position: absolute;
      right: 20px;
    }
    ._hm-profile-interest-847:hover {
      color: #0066ff;
    }
    ._home-cnt-779 {
      background: white;
      width: 100%;
      overflow: auto;
      margin-top: 20px;
      height: 70px;
      font-size: 13px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.1) inset;
      position: relative;
      ._hm-status-569 {
        text-align: center;
        font-size: 15px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        color: #286090;
        cursor: pointer;
      }
      ._hm-status-888 {
        width: 50%;
        height: 100%; 
      }
      ._hm-status-231 {
        width: 50%;
        height: 100%;
        border-right: 1px solid #e0e0e0;
      }
    }
    ._home-cnt-780 {
      background: white;
      width: 70%;
      overflow: auto;
      margin-top: 15px;
      font-size: 13px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.1) inset;
      position: relative;
      ._pulse-cnt-888 {
        width: 85%;
        padding: 15px 20px 20px 0;
        ._pulse-cnt-109 {
          color: #71767d;
          margin: 5px 0;
        }
        ._pulse-input-821 {
          border: 1px solid #d6dce3;
          margin: 2px 12px;
          padding: 5px;
          width: 100%;
          color: #71767d;
        }
        ._pulse-cnt-129 {
          margin-bottom: 20px;
        }
      }
      ._pulse-feed-img-710 {
        margin: 20px 20px 20px 40px;
      }
      ._home-question-header-935 {
        border-bottom: 1px solid #e0e0e0;
        font-size: 16px;
        padding: 18px 30px;
      }
      ._home-question-body-935 {
        margin-top: 15px;
        padding: 0 30px 20px 30px;
        ._hm-qst-753 {
          width: 50%;
          label {
            text-align: justify;
          }
        }
        ._hm-qst-903 {
          padding-left: 30px;
        }
      }
      ._hm-radio-btn-934 {
        margin-top: 0;
      }
    }
    ._hm-cnt-160 {
      background: white;
      width: 100%;
      overflow: auto;
      margin-top: 20px;
      font-size: 13px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.1) inset;
      position: relative;
    }
    ._hm-cnt-161 {
      background: white;
      width: 100%;
      overflow: auto;
      margin-top: 20px;
      font-size: 13px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.1) inset;
    }
    ._hm-cnt-959 {
      background: white;
      font-size: 12px;
      width: 100%;
      overflow: auto;
      padding: 20px 0;
      margin-top: 20px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.1) inset;
      ._hm-profile-detail-831 {
        padding: 20px 0 20px 40px;
        ._hm-profile-detail-182 {
          margin-top: 10px;
        }
      }
      ._hm-profile-detail-830 {
        width: 30%;
        border-right: 1px solid #ccc;
        padding: 20px 0 20px 40px;
        ._hm-profile-detail-122 {
          margin-top: 10px;
        }
        ._hm-profile-detail-121 {
          margin: 10px 0 0 4px;
        }
      }
    }
    ._hm-cnt-956 {
      width: 100%;
      margin-top: 20px;
      /*._hm-profile-status-631 {
        width: 200px;
        height: 165px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.1) inset;
        background: white;
        ._hm-profile-photo-1034 {
          margin-top: 15px;
        }
      }*/
      ._hm-profile-status-632 {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.1) inset;
        height: 280px;
        background: linear-gradient(#333, #000);
        ._profile-pic-943 {
          width: 20%;
          img {
            margin-top: 6%;
          }
        }
        ._profile-gallery-content934 {
          width: 100%;
          height: 100%;
        }
      }
    }
    ._hm-cnt-385 {
      background: white;
      width: 100%;
      margin-top: 20px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.1) inset;
    }
    ._pulse-cnt-385 {
      background: white;
      width: 100%;
      position: relative;
      ._pulse-cnt-185 {
        position: absolute;
        right: 13%;
        top: 24px;
        ._pulse-txt-icon {
          font-size: 16px;
          margin: 5px;
          color: #c1c4cc;
        }
      }
    }
    ._hm-cnt-844 {
      margin-top: 19px;
    }
    .form-group-674 {
      padding: 20px 20px 20px 40px;
      width: 30%;
    }
    .form-group-pulse-674 {
      padding: 20px 20px 20px 5%;
      width: 93%;
    }
    ._contact-input-834 {
      padding: 15px;
      font-size: 13px;
      width: 100%;
      border: 1px solid #d6dce3;
      height: 90px;
      resize: none;
    }
    ._contact-input-1834 {
      padding: 8px;
      font-size: 13px;
      width: 100%;
      border: 1px solid #d6dce3;
      height: 33px;
      resize: none;
    }
    ._hm-cnt-157 {
      background: white;
      width: 100%;
      margin-top: 10px;
      padding: 40px 0;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.1) inset;
    }
    ._hm-cnt-237 {
      width: 70%;
    }
    ._hm-cnt-2379 {
      width: 28%;
      height: 276px;
      background-color: white;
      margin-top: 20px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.1) inset;
    }
    ._hm-cnt-2370 {
      width: 28%;
      height: 140px;
      background-color: white;
      margin-top: 20px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.1) inset;
    }
    ._hm-cnt-776 {
      background: white;
      width: 100%;
      margin-top: 20px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.1) inset;
      ._hm-cnt-902 {
        width: 78%;
      }
      ._pulse-cnt-902 {
        width: 85%;
      }
      ._hm-status-quo-19 {
        height: 40px;
        border-bottom: 1px solid #e0e0e0;
        margin-left: 15px;
      }
      ._hm-status-quo-119 {
        height: 165px;
        border-bottom: 1px solid #e0e0e0;
        margin-left: 15px;
      }
      ._hm-status-quo-578, ._hm-status-quo-290 {
        height: 50px;
        border-bottom: 1px solid #e0e0e0;
        margin-left: 15px;
      }
      ._hm-status-quo-893 {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        font-size: 13px;
      }
      ._hm-status-quo-294 {
        height: 35px;
        ._hm-qst-378 {
          width: 50%;
          height: 100%;
          padding: 16px 0;
          font-size: 13px;
          text-align: center;
          color: #286090;
        }
      }
      ._hm-cnt-903 {
        width: 22%;
        height: 186px;
        border-right: 1px solid #e0e0e0;
        ._hm-profile-pic-893 {
          margin-top: 40px;
          border-radius: 100px;
        }
      }
      ._hm-cnt-1903 {
        width: 22%;
      }
      ._pulse-cnt-1903 {
        text-align: right;
        width: 15%;
      }
      ._hm-profile-pic-1893 {
        margin: 40px 0;
        border-radius: 100px;
      }
    }
    ._hm-cnt-957 {
      background: white;
      width: 100%;
      margin-top: 20px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.1) inset;
      ._hm-profile-842 {
        width: 50%;
        padding-right: 5%;
        ._hm-profile-share-835 {
          width: 90px;
          padding: 8px 22px;
          margin: 22px;
          font-size: 12px;
        }
        ._hm-profile-share-831 {
          width: 75px;
          color: #fff;
          padding: 8px 22px;
          margin: 22px;
          font-size: 12px;
        }
      }
      ._hm-profile-843 {
        width: 50%;
        height: 80px;
        ._hm-profile-832 {
          margin: 30px;
          color: #3f3f3f;
        }
      }
    }
    ._hm-cnt-893 {
      background: white; 
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.1) inset;
      margin: 20px 0;
    }
  }
}
._margin-right5 {
  margin-right: 5px;
}
._margin-right9 {
  margin-right: 9px;
}
.text-gray-dark {
  color: #71767d;
}
._experience-tab-802 {
    position: fixed;
    background-color: red;
    right: 2%;
    height: 100px;
    width: 300px;
    bottom: 5%;
    border-radius: 12px;
    display: none;
}

/* Gallery */
._profile-gallery-893 h3 {
    background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
   }
._profile-gallery-content930 {
    margin: auto;
    padding: 20px;
    margin: 45px auto;
    width: 730px;
}
.slick-slide {
  outline: none;
}

@media (max-width: 820px) {
  ._hm-profile-contacts-901 {
    margin-left: -20px;
  }
}