@import "mixins";

.modal {
  padding: 0 !important;
}

.modal-open {
  padding: 0 !important;
  overflow: auto;
}

.modal-dialog {
  height: 100%;
  margin: 0 auto;
}

.modal-header {
  padding: 15px 15px 0 15px;
  border: none;
}

.modal-content {
  @include vertical-align();
}

.close {
  opacity: 1;
  &:hover {
    opacity: 1;
  }
}
