@import "mixins";
html {
  margin: 0px;
  height: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  height: 100%;
}

.container-dim97 {
  height: 90%;
}

._header-849 {
  border-bottom: 1px solid #e7e7e7;
  padding: 10px 15px 0px 5px;
}

._vfconf-45 {
  background: white;
  padding: 30px;
  margin-top: 8%;
  height: 487px;
  .field-control-84 {
    padding: 20px 0;
  }
}

._ipdk-900 {
  margin: 20px 5px;
  ._notification-lpad84 {
    h5 {
      margin: 0 3px;
      font-weight: 500;
    }
    div {
      font-size: 12px;
      margin-left: 4px;
      color: #999;
    }
  }
}

._statement-820 {
  height: 47px;
  h5, i {
    @include vertical-align();
    margin: 0;
  }
}

.dd-select {
  background: white !important;
  a {
    color: #333;
  }
  label {
    font-weight: 500;
  }
}

.dd-option-text {
  font-weight: 500;
}