.ai-question-body-820 {
  position: relative;
}
.check-90 {
  height: 20px;
  position: absolute;
  left: 15px;
}

.check-1 {
  top: 56px;
}

.check-2 {
  top: 82px;
}

.check-3 {
  top: 109px;
}

.check-4 {
  top: 137px;
}

.check-5 {
  top: 164px;
}

.radio-custom {
  opacity: 0.5;
}

