@import "general_navbar";
@import "search_typeahead";
@import "ux_home";

.navbar-right .dropdown-menu {
  right: -1px;
}
.page-dim {
  background-color: #e7e7e7;
}
.container-dim99 {
  height: 1000px;
  background-color: white;
}