@import "general_navbar";
@import "search_typeahead";
@import "popover";
@import "ux_home";
@import "progress_bar";
@import "ai_graph";
@import "contacts_map";
@import "modal";

.navbar-right .dropdown-menu {
  right: -1px;
}
.page-dim {
  background-color: #e7e7e7;
}

.anchor-blue {
  color: #6ea9f8;
}

