/* line 2, ../sass/change_password.scss */
html {
  margin: 0px;
  height: 100%;
}

/* line 7, ../sass/change_password.scss */
body {
  margin: 0px;
  min-height: 100%;
  height: 100%;
}

/* line 13, ../sass/change_password.scss */
.container-dim97 {
  height: 90%;
}
/* line 15, ../sass/change_password.scss */
.container-dim97 ._vfconf-45 {
  background: white;
  padding: 30px;
  margin-top: 10%;
  height: 480px;
}
/* line 20, ../sass/change_password.scss */
.container-dim97 ._vfconf-45 .alert-box34 {
  padding-top: 20px;
}
/* line 24, ../sass/change_password.scss */
.container-dim97 ._header-849 {
  border-bottom: 1px solid #e7e7e7;
  padding: 10px 15px 0px 0;
}
/* line 28, ../sass/change_password.scss */
.container-dim97 .field-control-84 {
  padding: 30px 0 20px 0;
}
/* line 30, ../sass/change_password.scss */
.container-dim97 .field-control-84 input {
  width: 60%;
  height: 40px;
  border-radius: 0;
}
/* line 35, ../sass/change_password.scss */
.container-dim97 .field-control-84 > div {
  margin-bottom: 15px;
}

/* line 41, ../sass/change_password.scss */
.btn-loc {
  border-radius: 0 !important;
  text-transform: uppercase;
}
