/* line 3, ../sass/contacts_map.scss */
.active-path {
  fill: black !important;
  stroke-width: 1px !important;
  stroke: rebeccapurple;
  stroke-opacity: 0.5;
}

/* line 10, ../sass/contacts_map.scss */
._map-tooltip902 {
  top: 220px;
  left: 41%;
  border: 1px solid darkgray;
  width: 200px;
  height: 50px;
  text-align: center;
  position: absolute;
  z-index: 2000;
  background: white;
  box-shadow: #292121 0px 0px 5px;
}
/* line 21, ../sass/contacts_map.scss */
._map-tooltip902 ._country-932 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 26, ../sass/contacts_map.scss */
.map_zoom_indicator {
  top: 220px;
  position: absolute;
  left: 100px;
  font-size: 30px;
  display: none;
  padding: 15px;
}

/* line 35, ../sass/contacts_map.scss */
._user930 {
  padding: 10px 2px;
  margin-left: 70px;
}

/* line 40, ../sass/contacts_map.scss */
.contact-controls-892 {
  display: none;
}

/* line 44, ../sass/contacts_map.scss */
.controls-loader {
  height: 575px;
  width: 100%;
}
/* line 47, ../sass/contacts_map.scss */
.controls-loader .country-loader895 {
  margin-left: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
