/* line 1, ../sass/footer.scss */
.uv_footer {
  height: 200px;
  background: linear-gradient(#8B0000, black);
}
/* line 4, ../sass/footer.scss */
.uv_footer .uv_footer_inner {
  margin: 0 auto;
  float: none;
  padding-top: 30px;
}
/* line 9, ../sass/footer.scss */
.uv_footer .uv_footer_inner .um_footer_social img, .uv_footer .uv_footer_inner .uv_footer_social img {
  padding: 5px;
}
/* line 13, ../sass/footer.scss */
.uv_footer .uv_footer_inner .uv_footer_social {
  margin-top: 30px;
  width: 625px;
}
/* line 17, ../sass/footer.scss */
.uv_footer .uv_footer_inner .um_footer_social {
  width: 300px;
}
/* line 20, ../sass/footer.scss */
.uv_footer .uv_footer_inner .uv_footer_456 {
  width: 625px;
}
/* line 22, ../sass/footer.scss */
.uv_footer .uv_footer_inner .uv_footer_456 ._ux_478 {
  height: 25px;
  padding: 0 12px;
}
/* line 26, ../sass/footer.scss */
.uv_footer .uv_footer_inner .uv_footer_456 ._ux_479 {
  height: 25px;
  padding: 2px 12px;
}
/* line 30, ../sass/footer.scss */
.uv_footer .uv_footer_inner .uv_footer_456 .uv_footer_632 {
  width: 100px;
  color: #fff;
  margin: 5px 0 0 20px;
  font-size: 13px;
}

/* line 40, ../sass/footer.scss */
.uv_sub_page_container .uv_sub_legal {
  margin: 0 auto;
  float: none;
}
/* line 43, ../sass/footer.scss */
.uv_sub_page_container .uv_sub_legal .uv_sub_345 {
  margin: 0 auto;
  float: none;
  width: 600px;
}
/* line 48, ../sass/footer.scss */
.uv_sub_page_container .uv_sub_legal .um_sub_345 {
  margin: 0 auto;
  float: none;
  width: 300px;
}
/* line 53, ../sass/footer.scss */
.uv_sub_page_container .uv_sub_legal .uv_sub_copyright {
  font-size: 12px;
  color: #f2f2f2;
  margin: 5px 20px 0 0;
}
/* line 58, ../sass/footer.scss */
.uv_sub_page_container .uv_sub_legal .list-inline {
  float: left;
  cursor: pointer;
}
/* line 61, ../sass/footer.scss */
.uv_sub_page_container .uv_sub_legal .list-inline > li {
  font-size: 12px;
  color: #f2f2f2;
  font-weight: normal;
}
/* line 66, ../sass/footer.scss */
.uv_sub_page_container .uv_sub_legal .list-inline ._ufx878 {
  padding: 0;
}
/* line 69, ../sass/footer.scss */
.uv_sub_page_container .uv_sub_legal .list-inline ._ufx878:hover {
  color: red;
}

/* line 75, ../sass/footer.scss */
.at_sub_page_container {
  position: absolute;
  bottom: 4%;
  width: 100%;
}
/* line 79, ../sass/footer.scss */
.at_sub_page_container .at_sub-legal {
  width: 600px;
}
