/* line 1, ../sass/footer.scss */
.uv_footer {
  height: 200px;
  position: relative;
  z-index: 1000;
  background: linear-gradient(#286090, black);
}
/* line 7, ../sass/footer.scss */
.uv_footer .uv-footer-890 {
  margin: 0 auto;
}
/* line 10, ../sass/footer.scss */
.uv_footer .uv-footer-899 {
  margin: 600px auto 0 auto;
}
/* line 13, ../sass/footer.scss */
.uv_footer .uv_footer_inner {
  float: none;
  padding-top: 30px;
}
/* line 17, ../sass/footer.scss */
.uv_footer .uv_footer_inner .um_footer_social img, .uv_footer .uv_footer_inner .uv_footer_social img {
  padding: 5px;
}
/* line 21, ../sass/footer.scss */
.uv_footer .uv_footer_inner .uv_footer_social {
  margin-top: 30px;
  width: 450px;
}
/* line 24, ../sass/footer.scss */
.uv_footer .uv_footer_inner .uv_footer_social img {
  float: left;
}
/* line 28, ../sass/footer.scss */
.uv_footer .uv_footer_inner .um_footer_social {
  width: 300px;
}
/* line 30, ../sass/footer.scss */
.uv_footer .uv_footer_inner .um_footer_social img {
  float: left;
}
/* line 34, ../sass/footer.scss */
.uv_footer .uv_footer_inner .uv_footer_456 {
  width: 470px;
}
/* line 36, ../sass/footer.scss */
.uv_footer .uv_footer_inner .uv_footer_456 ._ux_478 {
  height: 20px;
  width: 400px;
  padding: 15px 12px;
}
/* line 41, ../sass/footer.scss */
.uv_footer .uv_footer_inner .uv_footer_456 ._ux_479 {
  height: 32px;
  padding: 2px 12px;
}
/* line 45, ../sass/footer.scss */
.uv_footer .uv_footer_inner .uv_footer_456 .uv_footer_632 {
  width: 100px;
  color: #fff;
  margin: 5px 0 0 20px;
  font-size: 13px;
}

/* line 55, ../sass/footer.scss */
.uv_sub_page_container .uv_sub_legal {
  margin: 0 auto;
  float: none;
}
/* line 58, ../sass/footer.scss */
.uv_sub_page_container .uv_sub_legal .uv_sub_345 {
  margin: 0 auto;
  float: none;
  width: 560px;
}
/* line 63, ../sass/footer.scss */
.uv_sub_page_container .uv_sub_legal .um_sub_345 {
  margin: 0 auto;
  float: none;
  width: 300px;
}
/* line 68, ../sass/footer.scss */
.uv_sub_page_container .uv_sub_legal .uv_sub_copyright {
  font-size: 14px;
  color: #f2f2f2;
  margin: 2px 20px 0 0;
}
/* line 73, ../sass/footer.scss */
.uv_sub_page_container .uv_sub_legal .list-inline {
  float: left;
  cursor: pointer;
}
/* line 76, ../sass/footer.scss */
.uv_sub_page_container .uv_sub_legal .list-inline > li {
  font-size: 14px;
  color: #f2f2f2;
  font-weight: normal;
}
/* line 81, ../sass/footer.scss */
.uv_sub_page_container .uv_sub_legal .list-inline ._ufx878 {
  padding: 0;
}
/* line 84, ../sass/footer.scss */
.uv_sub_page_container .uv_sub_legal .list-inline ._ufx878:hover {
  color: red;
}

/* line 90, ../sass/footer.scss */
.at_sub_page_container {
  position: absolute;
  bottom: 4%;
  width: 100%;
}
/* line 94, ../sass/footer.scss */
.at_sub_page_container .at_sub-legal {
  width: 600px;
}
