/* line 1, ../sass/general_navbar.scss */
._navbar409 {
  background-color: black;
  z-index: 1000;
}
/* line 4, ../sass/general_navbar.scss */
._navbar409 .navbar-nav > li > a {
  color: #e7e7e7;
}
/* line 6, ../sass/general_navbar.scss */
._navbar409 .navbar-nav > li > a:hover {
  color: #e7e7e7;
}
