/* line 1, ../sass/mobile.scss */
.um_container_203 {
  padding-top: 180px;
  width: 90%;
}
/* line 4, ../sass/mobile.scss */
.um_container_203 .um_btn_432 {
  background: black;
  box-shadow: 0 2px 2px black;
  border: none;
  color: white;
  width: 100%;
}

/* line 12, ../sass/mobile.scss */
._um_log_768 {
  margin: 0 0 15px 5px;
}
