/* line 3, ../sass/modal.scss */
.modal {
  padding: 0 !important;
}

/* line 7, ../sass/modal.scss */
.modal-dialog {
  height: 100%;
  margin: 0 auto;
}

/* line 12, ../sass/modal.scss */
.modal-header {
  padding: 15px 15px 0 15px;
  border: none;
}

/* line 17, ../sass/modal.scss */
.modal-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 21, ../sass/modal.scss */
.close {
  opacity: 1;
}
/* line 23, ../sass/modal.scss */
.close:hover {
  opacity: 1;
}
