/* line 1, ../sass/questionair.scss */
.ai-question-body-820 {
  position: relative;
}

/* line 4, ../sass/questionair.scss */
.check-90 {
  height: 20px;
  position: absolute;
  left: 15px;
}

/* line 10, ../sass/questionair.scss */
.check-1 {
  top: 56px;
}

/* line 14, ../sass/questionair.scss */
.check-2 {
  top: 82px;
}

/* line 18, ../sass/questionair.scss */
.check-3 {
  top: 109px;
}

/* line 22, ../sass/questionair.scss */
.check-4 {
  top: 137px;
}

/* line 26, ../sass/questionair.scss */
.check-5 {
  top: 164px;
}

/* line 30, ../sass/questionair.scss */
.radio-custom {
  opacity: 0.5;
}

/* line 4, ../sass/pieChart.scss */
.illustration-graph-38 {
  margin: 40px 0 20px 0;
  display: none;
}
/* line 7, ../sass/pieChart.scss */
.illustration-graph-38 .tabular-730 {
  height: 205px;
  border: 1px solid #9ECAE1;
  top: 40px;
  position: relative;
  padding: 0;
}
/* line 13, ../sass/pieChart.scss */
.illustration-graph-38 .tabular-730 ._ijh-748 {
  height: 30px;
  background: #9ECAE1;
  padding: 5px 15px;
  font-weight: 700;
}
/* line 19, ../sass/pieChart.scss */
.illustration-graph-38 .tabular-730 ._row-93 {
  height: 35px;
  padding: 0 15px;
}
/* line 22, ../sass/pieChart.scss */
.illustration-graph-38 .tabular-730 ._row-93 div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 29, ../sass/pieChart.scss */
.question-chart-392 {
  margin: 0 0 0 40px;
  width: 40%;
}

/* line 34, ../sass/pieChart.scss */
.question-tab-45 {
  width: 50%;
  height: 400px;
  position: relative;
  text-align: center;
}

/* line 41, ../sass/pieChart.scss */
.paginate-nav-894 {
  margin-right: 40px;
}

/* line 45, ../sass/pieChart.scss */
._loader-692 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
