/* line 3, ../sass/privacy.scss */
._header-849 {
  border-bottom: 1px solid #e7e7e7;
  padding: 10px 15px 0px 5px;
}

/* line 8, ../sass/privacy.scss */
._vfconf-45 {
  background: white;
  padding: 30px;
  margin-top: 8%;
  height: 670px;
}

/* line 15, ../sass/privacy.scss */
._ipdk-900 {
  margin: 20px 5px;
}

/* line 19, ../sass/privacy.scss */
._statement-820 {
  height: 47px;
}
/* line 21, ../sass/privacy.scss */
._statement-820 h5, ._statement-820 i {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}

/* line 27, ../sass/privacy.scss */
._ipdk-901 {
  margin: 20px 30px 90px 30px;
}

/* line 31, ../sass/privacy.scss */
.dd-select {
  background: white !important;
}
/* line 33, ../sass/privacy.scss */
.dd-select a {
  color: #333;
}
/* line 36, ../sass/privacy.scss */
.dd-select label {
  font-weight: 500;
}

/* line 41, ../sass/privacy.scss */
.dd-option-text {
  font-weight: 500;
}
