/* line 1, ../sass/general_navbar.scss */
._navbar409 {
  background-color: black;
  z-index: 1001;
}
/* line 5, ../sass/general_navbar.scss */
._navbar409 .navbar-nav > li > a {
  color: #e7e7e7;
  padding: 10px 15px;
  margin: 5px 0 0 0;
}
/* line 9, ../sass/general_navbar.scss */
._navbar409 .navbar-nav > li > a:hover {
  color: #e7e7e7;
}
/* line 14, ../sass/general_navbar.scss */
._navbar409 .navbar-nav .active > a, ._navbar409 .navbar-nav .active > a:hover {
  color: #fff;
  /*        background-color: #449d44;
          border-color: #398439;*/
  background-color: #398439;
  border-color: #255625;
}

/* line 3, ../sass/register.scss */
* {
  font-family: helvetica, arial, sans-serif;
}

/* line 7, ../sass/register.scss */
html {
  margin: 0px;
  height: 100%;
}

/* line 12, ../sass/register.scss */
body {
  margin: 0px;
  min-height: 100%;
  height: 100%;
}

/* line 18, ../sass/register.scss */
.container-dim97 {
  height: 100%;
}
/* line 20, ../sass/register.scss */
.container-dim97 ._vfconf-48 {
  background: white;
  padding: 30px;
  margin-top: 10%;
  height: 85%;
}

/* line 28, ../sass/register.scss */
.navbar-right .dropdown-menu {
  right: -1px;
}

/* line 31, ../sass/register.scss */
.page-dim {
  background-color: #e7e7e7;
}

/* line 35, ../sass/register.scss */
.anchor-blue {
  color: #6ea9f8;
}

/* line 39, ../sass/register.scss */
.pointer {
  cursor: pointer;
}

/* line 43, ../sass/register.scss */
.container-dim90 {
  background-color: white;
  height: 100%;
  position: relative;
}

/* line 49, ../sass/register.scss */
.wizard-container {
  padding: 50px 0 0 0;
  height: 82%;
}

/* line 54, ../sass/register.scss */
.nopadding {
  padding: 0;
}

/* line 58, ../sass/register.scss */
.margintop60 {
  margin-top: 60px;
}

/* line 62, ../sass/register.scss */
.margintop30 {
  margin-top: 30px;
}

/* line 66, ../sass/register.scss */
.margintop80 {
  margin-top: 80px;
}

/* line 70, ../sass/register.scss */
.margintop200 {
  margin-top: 200px;
}

/* line 74, ../sass/register.scss */
.margintop100 {
  margin-top: 100px;
}

/* line 78, ../sass/register.scss */
.header-top90 {
  margin-top: 20px;
  border: 1px solid #ddd;
}
/* line 81, ../sass/register.scss */
.header-top90 > div {
  padding: 10px 0;
  color: #ccc;
  background: #fafafa;
}
/* line 85, ../sass/register.scss */
.header-top90 > div i {
  margin-right: 5px;
  font-size: 18px;
}

/* line 92, ../sass/register.scss */
.upload-box {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

/* line 97, ../sass/register.scss */
.wizard-active {
  color: #666 !important;
  background: white !important;
}

/* line 102, ../sass/register.scss */
.width100 {
  width: 100%;
}

/* line 106, ../sass/register.scss */
.width33 {
  width: 33%;
}

/* line 110, ../sass/register.scss */
.width34 {
  width: 34%;
}

/* line 114, ../sass/register.scss */
.wizard-head {
  height: 100%;
}
/* line 116, ../sass/register.scss */
.wizard-head a:focus, .wizard-head a:hover {
  text-decoration: none !important;
}

/* line 121, ../sass/register.scss */
.wizard-footer {
  height: 10%;
}

/* line 125, ../sass/register.scss */
.width50perc {
  width: 50%;
}

/* line 129, ../sass/register.scss */
.width45perc {
  width: 48%;
}

/* line 133, ../sass/register.scss */
.global-856 {
  font-size: 24px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 138, ../sass/register.scss */
._upload-204 {
  height: 300px;
}
/* line 140, ../sass/register.scss */
._upload-204 .dz-message {
  position: relative;
  top: 35%;
  transform: translateY(-50%);
}

/* line 147, ../sass/register.scss */
.selectable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*  .ui-selecting {
      //background: #FECA40;
      background: #31708f;
    }*/
}
/* line 151, ../sass/register.scss */
.selectable li {
  margin: 3px;
  padding: 0.4em;
  font-size: 12px;
  height: 28px;
  cursor: pointer;
}
/* line 162, ../sass/register.scss */
.selectable .ui-selected {
  /*    background: #31708f;
      color: white;*/
}
/* line 167, ../sass/register.scss */
.selectable .ui-widget-content {
  border: 1px solid #ccc;
  float: left;
  margin-right: 15px;
  padding: 3px 10px;
  text-align: center;
  cursor: pointer;
}

/* line 177, ../sass/register.scss */
.panel-title {
  color: #333;
}

/* line 181, ../sass/register.scss */
.btn-loc {
  border-radius: 0 !important;
  text-transform: uppercase;
}

/* line 185, ../sass/register.scss */
.btn-upper {
  text-transform: uppercase;
}
