/* line 1, ../sass/search_typeahead.scss */
._hm-user-typeahead-container89 {
  display: block;
  float: right;
  padding: 0px;
  width: 32%;
  margin: 2px 15px 0 0;
}
/* line 7, ../sass/search_typeahead.scss */
._hm-user-typeahead-container89 ._hm-user-typeahead {
  width: 90%;
  margin-top: 9px;
  margin-bottom: 7px;
  position: relative;
}
/* line 12, ../sass/search_typeahead.scss */
._hm-user-typeahead-container89 ._hm-user-typeahead ._hm-typeahead-856 {
  height: 30px;
  font-size: 12px;
}

/* line 18, ../sass/search_typeahead.scss */
._hm-search-user-overflow {
  position: absolute;
  display: none;
  top: 29px;
  width: 100%;
  height: 490px;
  right: 0.66%;
  z-index: 1000;
  padding: 3px;
}
/* line 27, ../sass/search_typeahead.scss */
._hm-search-user-overflow ._hm-search-inner-overflow {
  background-color: white;
  width: 100%;
  position: absolute;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  z-index: 2;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
/* line 37, ../sass/search_typeahead.scss */
._hm-search-user-overflow ._hm-search-inner-overflow ._hm-recent-search-890 {
  height: 25px;
  background-color: #e7e7e7;
  padding: 5px;
  font-size: 13px;
}
/* line 42, ../sass/search_typeahead.scss */
._hm-search-user-overflow ._hm-search-inner-overflow ._hm-recent-search-890 ._hm-ftsize11 {
  font-size: 11px;
}
/* line 45, ../sass/search_typeahead.scss */
._hm-search-user-overflow ._hm-search-inner-overflow ._hm-recent-search-890 ._hm-search-clear-435 {
  margin-left: 2px;
  font-size: 11px;
}
/* line 51, ../sass/search_typeahead.scss */
._hm-search-user-overflow ._hm-search-inner-overflow ._hm-search-list ._ul-search-976 {
  list-style-type: none;
  padding: 0px;
}
/* line 54, ../sass/search_typeahead.scss */
._hm-search-user-overflow ._hm-search-inner-overflow ._hm-search-list ._ul-search-976 ._hm-search-container:hover {
  background-color: #f2f2f2;
}
/* line 57, ../sass/search_typeahead.scss */
._hm-search-user-overflow ._hm-search-inner-overflow ._hm-search-list ._ul-search-976 ._hm-search-container {
  margin: 5px 0 0 5px;
}
/* line 59, ../sass/search_typeahead.scss */
._hm-search-user-overflow ._hm-search-inner-overflow ._hm-search-list ._ul-search-976 ._hm-search-container ._hm-search-652 {
  width: 79%;
  margin-left: 7px;
  font-size: 12px;
  text-align: left;
}
/* line 64, ../sass/search_typeahead.scss */
._hm-search-user-overflow ._hm-search-inner-overflow ._hm-search-list ._ul-search-976 ._hm-search-container ._hm-search-652 ._hm-search-860 {
  margin-top: 5px;
}
/* line 67, ../sass/search_typeahead.scss */
._hm-search-user-overflow ._hm-search-inner-overflow ._hm-search-list ._ul-search-976 ._hm-search-container ._hm-search-652 ._hm-search-676 {
  font-size: 11px;
  margin-top: 3px;
}
/* line 68, ../sass/search_typeahead.scss */
._hm-search-user-overflow ._hm-search-inner-overflow ._hm-search-list ._ul-search-976 ._hm-search-container ._hm-search-652 ._hm-search-676 ._hm-search-560 {
  margin: 0 5px 0 5px;
}
