/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*World Map*/
/* line 9, ../sass/map.scss */
.country:hover {
  stroke: #fff;
  stroke-width: 1.5px;
}

/* line 13, ../sass/map.scss */
.text {
  font-size: 10px;
  text-transform: capitalize;
}

/* line 17, ../sass/map.scss */
#container {
  margin: 50px 0 0 0;
  /*  border:2px solid #000;*/
  border-radius: 5px;
  height: 100%;
  overflow: hidden;
  /*  background: #F0F8FF;*/
}

/* line 25, ../sass/map.scss */
.hidden {
  display: none;
}

/* line 28, ../sass/map.scss */
div.tooltip {
  color: #222;
  background: #fff;
  padding: .5em;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  opacity: 0.9;
  position: absolute;
}

/* line 38, ../sass/map.scss */
.graticule {
  fill: none;
  /*  stroke: #bbb;*/
  stroke-width: .5px;
  stroke-opacity: .5;
}

/*.equator {
  stroke: #ccc;
  stroke-width: 1px;
}*/
/* line 1, ../sass/header_log.scss */
.header {
  height: 70px;
  width: 100%;
  background: black;
  /*  background: #3F7691;*/
  box-shadow: 0 1px 4px #ccc;
}
/* line 7, ../sass/header_log.scss */
.header .header_uv420 {
  margin: 0 auto;
  height: 70px;
  float: none;
}
/* line 11, ../sass/header_log.scss */
.header .header_uv420 ._vw-logo {
  color: white;
  font-size: 20px;
  margin: 20px 0 0 40px;
  font-weight: bold;
}
/* line 18, ../sass/header_log.scss */
.header .uv_427-logo {
  margin-top: 20px;
  font-size: 20px;
}
/* line 21, ../sass/header_log.scss */
.header .uv_427-logo img {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 0;
}
/* line 28, ../sass/header_log.scss */
.header .uv_30 {
  height: 30px;
  margin-top: 18px;
  color: #fff;
  background-color: #286090;
  border-color: #2e6da4;
  display: inline-block;
  padding: 5px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  border-radius: 4px;
}
/* line 42, ../sass/header_log.scss */
.header .btn-sign {
  background: #2ca02c;
  border: none;
  color: white;
  box-shadow: 0 1px 1px black;
  padding: 4px 12px;
}
/* line 49, ../sass/header_log.scss */
.header .btn:hover {
  color: white;
}

/* line 1, ../sass/login_screen.scss */
.vw_container {
  width: 100%;
  background-color: white;
  position: relative;
  background-image: url("../../css/images/social.jpg");
  background-size: cover;
}
/* line 7, ../sass/login_screen.scss */
.vw_container ._uv-terminal {
  color: #2ca02c;
  width: 39%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 65px;
  text-align: left;
  padding: 20px;
  font-size: 13px;
}
/* line 17, ../sass/login_screen.scss */
.vw_container .vw-container__inner {
  margin: 0 auto;
  height: 650px;
  float: none;
  position: static;
}
/* line 22, ../sass/login_screen.scss */
.vw_container .vw-container__inner .vw-635-logo {
  width: 100%;
}
/* line 24, ../sass/login_screen.scss */
.vw_container .vw-container__inner .vw-635-logo img {
  width: 96%;
  margin-top: 70px;
  box-shadow: 0 10px 25px black;
}
/* line 31, ../sass/login_screen.scss */
.vw_container .vw-636-registration {
  width: 100%;
  height: 100%;
  padding: 50px 1% 0 30px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(204, 204, 204, 0.5);
}
/* line 39, ../sass/login_screen.scss */
.vw_container .vw-636-registration .uv_789-inner-container {
  display: none;
  width: 385px;
  margin: 85px 0 0 50px;
  background-color: rgba(204, 204, 204, 0.8);
  padding: 10px 30px 30px 30px;
}
/* line 46, ../sass/login_screen.scss */
.vw_container .vw-636-registration .uv_799-inner-container {
  display: none;
  width: 385px;
  margin: 30px 0 0 50px;
  background-color: rgba(204, 204, 204, 0.8);
  padding: 10px 30px 30px 30px;
}
/* line 54, ../sass/login_screen.scss */
.vw_container .vw-636-registration .form-group input {
  font-weight: bold;
  font-size: 13px;
}
/* line 59, ../sass/login_screen.scss */
.vw_container .vw-636-registration ::-webkit-input-placeholder {
  color: #5e5e5e;
}
/* line 62, ../sass/login_screen.scss */
.vw_container .vw-636-registration :-moz-placeholder {
  /* Firefox 18- */
  color: #5e5e5e;
}
/* line 65, ../sass/login_screen.scss */
.vw_container .vw-636-registration ::-moz-placeholder {
  /* Firefox 19+ */
  color: #5e5e5e;
}
/* line 68, ../sass/login_screen.scss */
.vw_container .vw-636-registration :-ms-input-placeholder {
  color: #5e5e5e;
}
/* line 71, ../sass/login_screen.scss */
.vw_container .vw-636-registration .vw-637-info {
  margin-bottom: 25px;
}
/* line 75, ../sass/login_screen.scss */
.vw_container ._um-636-registration {
  width: 90%;
}
/* line 78, ../sass/login_screen.scss */
.vw_container .vw-638__year {
  width: 32%;
}
/* line 81, ../sass/login_screen.scss */
.vw_container .um-638__year {
  width: 30%;
}
/* line 84, ../sass/login_screen.scss */
.vw_container .vw-638__month {
  width: 32%;
  margin: 0 5px;
}
/* line 88, ../sass/login_screen.scss */
.vw_container .vw-638__day {
  width: 32%;
}
/* line 91, ../sass/login_screen.scss */
.vw_container .vw-new-account {
  margin-top: 25px;
  text-align: left;
  font-size: 15px;
}
/* line 95, ../sass/login_screen.scss */
.vw_container .vw-new-account .vw-account-text-894 {
  font-weight: 700;
}
/* line 98, ../sass/login_screen.scss */
.vw_container .vw-new-account .vw-account-text-896 {
  color: #286090;
  cursor: pointer;
}
/* line 104, ../sass/login_screen.scss */
.vw_container .vw-registration-container select {
  font-size: 13px;
}
/* line 107, ../sass/login_screen.scss */
.vw_container .vw-registration-container .form-control {
  padding: 6px 5px;
}
/* line 110, ../sass/login_screen.scss */
.vw_container .vw-registration-container .vw-576 {
  margin: 20px 0 10px 0;
  font-size: 14px;
}
/* line 114, ../sass/login_screen.scss */
.vw_container .vw-registration-container .vw_terms_info {
  padding-top: 50px;
  color: #71767d;
  font-size: 11px;
  line-height: 14px;
}
/* line 120, ../sass/login_screen.scss */
.vw_container .vw-registration-container .vw-701-btn {
  width: 100%;
}
/* line 122, ../sass/login_screen.scss */
.vw_container .vw-registration-container .vw-701-btn a {
  color: white;
  text-decoration: none;
}
/* line 126, ../sass/login_screen.scss */
.vw_container .vw-registration-container .vw-701-btn .btn {
  width: 100%;
  margin-top: 25px;
  background: black;
  box-shadow: 0 2px 2px black;
  border: none;
}

/* line 136, ../sass/login_screen.scss */
._uv_login-attempt {
  position: absolute;
  height: 90%;
}
/* line 139, ../sass/login_screen.scss */
._uv_login-attempt .uv_809-label {
  color: #8B0000;
  font-size: 14px;
  padding: 2px;
}
/* line 144, ../sass/login_screen.scss */
._uv_login-attempt ._at-798-container {
  width: 455px;
  background-color: rgba(204, 204, 204, 0.7);
  padding: 40px;
  margin-top: 120px;
}
/* line 149, ../sass/login_screen.scss */
._uv_login-attempt ._at-798-container .-at_not-member893 {
  margin-top: 17px;
  color: #5e5e5e;
}
/* line 155, ../sass/login_screen.scss */
._uv_login-attempt .vw-709-btn .btn {
  width: 100%;
  margin-top: 25px;
  background: black;
  box-shadow: 0 2px 2px black;
  border: none;
}
/* line 164, ../sass/login_screen.scss */
._uv_login-attempt .form-group ::-webkit-input-placeholder {
  color: #5e5e5e;
}
/* line 167, ../sass/login_screen.scss */
._uv_login-attempt .form-group :-moz-placeholder {
  /* Firefox 18- */
  color: #5e5e5e;
}
/* line 170, ../sass/login_screen.scss */
._uv_login-attempt .form-group ::-moz-placeholder {
  /* Firefox 19+ */
  color: #5e5e5e;
}
/* line 173, ../sass/login_screen.scss */
._uv_login-attempt .form-group :-ms-input-placeholder {
  color: #5e5e5e;
}

/* line 178, ../sass/login_screen.scss */
.uw_attempt-99 {
  position: absolute;
  width: 100%;
  z-index: 5;
}
/* line 182, ../sass/login_screen.scss */
.uw_attempt-99 .uw_attempt-100 {
  width: 700px;
  background-color: rgba(255, 0, 0, 0.7);
  padding: 25px;
  margin: 50px auto;
  color: white;
}
/* line 188, ../sass/login_screen.scss */
.uw_attempt-99 .uw_attempt-100 ._uw-attempt-89 {
  margin-top: 3px;
}
/* line 191, ../sass/login_screen.scss */
.uw_attempt-99 .uw_attempt-100 .uw_attempt-756 {
  margin-right: 10px;
  font-size: 20px;
}

/* line 197, ../sass/login_screen.scss */
.margintop45 {
  margin-top: 45px;
}

/* line 1, ../sass/footer.scss */
.uv_footer {
  height: 200px;
  background: linear-gradient(#286090, black);
}
/* line 5, ../sass/footer.scss */
.uv_footer .uv_footer_inner {
  margin: 0 auto;
  float: none;
  padding-top: 30px;
}
/* line 10, ../sass/footer.scss */
.uv_footer .uv_footer_inner .um_footer_social img, .uv_footer .uv_footer_inner .uv_footer_social img {
  padding: 5px;
}
/* line 14, ../sass/footer.scss */
.uv_footer .uv_footer_inner .uv_footer_social {
  margin-top: 30px;
  width: 625px;
}
/* line 18, ../sass/footer.scss */
.uv_footer .uv_footer_inner .um_footer_social {
  width: 300px;
}
/* line 21, ../sass/footer.scss */
.uv_footer .uv_footer_inner .uv_footer_456 {
  width: 625px;
}
/* line 23, ../sass/footer.scss */
.uv_footer .uv_footer_inner .uv_footer_456 ._ux_478 {
  height: 25px;
  padding: 0 12px;
}
/* line 27, ../sass/footer.scss */
.uv_footer .uv_footer_inner .uv_footer_456 ._ux_479 {
  height: 25px;
  padding: 2px 12px;
}
/* line 31, ../sass/footer.scss */
.uv_footer .uv_footer_inner .uv_footer_456 .uv_footer_632 {
  width: 100px;
  color: #fff;
  margin: 5px 0 0 20px;
  font-size: 13px;
}

/* line 41, ../sass/footer.scss */
.uv_sub_page_container .uv_sub_legal {
  margin: 0 auto;
  float: none;
}
/* line 44, ../sass/footer.scss */
.uv_sub_page_container .uv_sub_legal .uv_sub_345 {
  margin: 0 auto;
  float: none;
  width: 600px;
}
/* line 49, ../sass/footer.scss */
.uv_sub_page_container .uv_sub_legal .um_sub_345 {
  margin: 0 auto;
  float: none;
  width: 300px;
}
/* line 54, ../sass/footer.scss */
.uv_sub_page_container .uv_sub_legal .uv_sub_copyright {
  font-size: 12px;
  color: #f2f2f2;
  margin: 5px 20px 0 0;
}
/* line 59, ../sass/footer.scss */
.uv_sub_page_container .uv_sub_legal .list-inline {
  float: left;
  cursor: pointer;
}
/* line 62, ../sass/footer.scss */
.uv_sub_page_container .uv_sub_legal .list-inline > li {
  font-size: 12px;
  color: #f2f2f2;
  font-weight: normal;
}
/* line 67, ../sass/footer.scss */
.uv_sub_page_container .uv_sub_legal .list-inline ._ufx878 {
  padding: 0;
}
/* line 70, ../sass/footer.scss */
.uv_sub_page_container .uv_sub_legal .list-inline ._ufx878:hover {
  color: red;
}

/* line 76, ../sass/footer.scss */
.at_sub_page_container {
  position: absolute;
  bottom: 4%;
  width: 100%;
}
/* line 80, ../sass/footer.scss */
.at_sub_page_container .at_sub-legal {
  width: 600px;
}

/* line 1, ../sass/mobile.scss */
.um_container_203 {
  padding-top: 180px;
  width: 90%;
}
/* line 4, ../sass/mobile.scss */
.um_container_203 .um_btn_432 {
  background: black;
  box-shadow: 0 2px 2px black;
  border: none;
  color: white;
  width: 100%;
}

/* line 12, ../sass/mobile.scss */
._um_log_768 {
  margin: 0 0 15px 5px;
}

/* line 7, ../sass/ux_login.scss */
body {
  background-color: black;
}

/* line 11, ../sass/ux_login.scss */
.loader {
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
  position: absolute;
  z-index: 30;
  left: 48%;
  top: 22%;
}

@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, -0.087em -0.825em 0 -0.42em #ffffff, -0.173em -0.812em 0 -0.44em #ffffff, -0.256em -0.789em 0 -0.46em #ffffff, -0.297em -0.775em 0 -0.477em #ffffff;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, -0.338em -0.758em 0 -0.42em #ffffff, -0.555em -0.617em 0 -0.44em #ffffff, -0.671em -0.488em 0 -0.46em #ffffff, -0.749em -0.34em 0 -0.477em #ffffff;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, -0.377em -0.74em 0 -0.42em #ffffff, -0.645em -0.522em 0 -0.44em #ffffff, -0.775em -0.297em 0 -0.46em #ffffff, -0.82em -0.09em 0 -0.477em #ffffff;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, -0.087em -0.825em 0 -0.42em #ffffff, -0.173em -0.812em 0 -0.44em #ffffff, -0.256em -0.789em 0 -0.46em #ffffff, -0.297em -0.775em 0 -0.477em #ffffff;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, -0.338em -0.758em 0 -0.42em #ffffff, -0.555em -0.617em 0 -0.44em #ffffff, -0.671em -0.488em 0 -0.46em #ffffff, -0.749em -0.34em 0 -0.477em #ffffff;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, -0.377em -0.74em 0 -0.42em #ffffff, -0.645em -0.522em 0 -0.44em #ffffff, -0.775em -0.297em 0 -0.46em #ffffff, -0.82em -0.09em 0 -0.477em #ffffff;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;
  }
}
